.notificationList{
    background-color: #363636;
    color:white;
    max-width: 360px;
    width: 100%;
    min-width: 200px;
    max-height: 300px;
    overflow-y: scroll;
}


.notificationList .MuiTypography-colorTextSecondary{
    color:#fffefe9d !important;
}