.profile {
  width: 70%;
  background: #363636;
  margin: 50px auto 0px auto;
}
.profilePicture {
  height: 100%;
  width: 100%;
  padding: 50px 10px;
  display: flex;
}
.profilePicture img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #ffffff36;
}
.profilePicture h6 {
  color: #d7dadc;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 20px;
}
.profileInfo {
	margin: 30px;
}
.profileInfo h6 {
	margin: 10px;
	padding: 0px;
	font-size: 15px;
}

.profilePost button{
    height: 50px;
    width: 50%;
	margin: 10px;
	cursor: pointer;
}
.profilePost {
	display: flex;
}
