.post{
	color: #FFFEFE;
	background: #363636;
	width:80%;
	margin: 5% auto 0% auto;
	padding:15px;
	border-radius: 10px;
}	

.userinfo{
	display: flex;
}
.username{
	margin-left:15px;
}
.date{
	font-size: 10px;
}
.interactions{
	display: flex;
}
.comment, .like{

	font-size:20px;
	margin-top:15px;
	margin-right: 15px;
}

