.post{
	color: #FFFEFE !important;
	background: #363636 !important;
	width:80%;
    margin: 35px auto 0;
	padding:15px;
	border-radius: 10px;
    border: 1px solid #353638;
}	
.post:hover {
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.219);
}

.post .MuiIconButton-root {
	color: #FFFEFE !important;
}
.post .MuiTypography-colorTextSecondary {
	color: #fffefe9d !important;
}
.userinfo{
	display: flex;
}
.username{
	margin-left:15px;
}
.date{
	font-size: 10px;
}
.interactions{
	display: flex;
}
.comment, .like{
	margin: 10px 20px 5px 0px;
    min-width: 25px;
    white-space: nowrap;
	word-break: normal;
}
.comment i, .like i {
	font-size:20px;
}

