.nav{
	display: flex;
	background-color:#871528;
	padding: 15px;	
	overflow-x: hidden;

}
.search{
	width:90%;
	margin: 0% 10% 0% 10% ;
}
.search i{
	transform: translate(50%,40%);
	position:absolute;
}
.search input{
	font-size: 15px;
	padding: 5px;
	padding-left:  30px;
	outline: none;
	border-radius: 5px;
	border-size: 1px;
	background-color: #d1d1d1; 
	width: 100%;
}
.menu{
	font-size:30px;
	color: #ffff;
	cursor: pointer;
}
.menu:hover{
	color: #cabebe;
}
.avatar{
	font-size: 30px;
	color: #ffff;
}

