.nav{
	display: flex;
	background-color:#871528;
    padding: 4px 10px;
	overflow-x: hidden;
}
.nav .MuiIconButton-root {
	color: #FFFEFE !important;
}
.search{
	width:90%;
	margin: 0% 10% 0% 10% ;
	display: flex;
	background-color: #d1d1d1; 
	align-items: center;
	align-self: center;
	border-radius: 5px;
	padding: 10px;
}
.search i{
	transform: translate(50%,40%);
	position:absolute;
}
.search input{
	font-size: 15px;
	padding: 5px;
	padding-left:  30px;
	outline: none;
	border: none;
	background-color: #d1d1d1; 
	width: 100%;
}
.menu{
	font-size:30px;
	color: #ffff;
	cursor: pointer;
}
.menu:hover{
	color: #cabebe;
}
.avatar{
	font-size: 30px;
	color: #ffff;
}

